html {
  background-color: #ffffff;
}

.container {
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  margin: auto;
}

.navigation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #a673fe;
}

.navigation a {
  height: 30px;
  padding: 0 80px;
  margin-top: 50px;
  color: #ffffff;
}

.header-text {
  background-color: #a673fe;
}

.header-text h1 {
  height: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 70px;
  color: #ffffff;
  font-weight: 100;
}

.header-text img {
  width: 100%;
}

.purple-background {
  background-color: #a673fe;
}

.about-me-description img {
  width: 20%;
  height: 20%;
  margin: 70px 200px;
}

.about-me-description h2 {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  font-size: 30px;
}

.about-me-description {
  align-content: center;
  text-align: center;
}

.about-me-resume {
  align-content: center;
  text-align: center;
}

.aboutme-content-graphics {
  display: flex;
  justify-content: space-evenly;
}

.aboutme-content-graphics h3 {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutme-content-graphics p {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-component {
  align-content: center;
  text-align: center;
}

.project-component-portfolio {
  display: flex;
  justify-content: space-evenly;
}

.project-component-portfolio img {
  display: flex;
  justify-content: space-evenly;
  width: 97%;
  height: 95%;
}

.button-project-seemore {
  align-content: center;
  text-align: center;
}

.footer-component {
  background-color: #a673fe;
}

.copyright-content {
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  text-align: right;
}

.copyright-content p {
  margin-right: 20;
}
