* {
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
}

h1,
h2 {
  font-family: "Oswald";
}

h3 {
  font-family: "Oswald";
  font-weight: 50;
}

p {
  font-family: "Open Sans";
}

.navigation {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  background-color: #a673fe;
}

.navigation a {
  height: 30px;
  padding: 0 80px;
  margin-top: 50px;
  color: white;
}

h1 {
  align-content: center;
  text-align: center;
}

.footer-component {
  background-color: #a673fe;
  padding: 20px;
}

.footer-component img {
  height: 20px;
  align-content: right;
}

.copyright-content {
  text-align: right;
  padding-bottom: 10px;
}

.contact {
  width: 85%;
  top: 50%;
  left: 50%;
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
}

.contact-form {
  text-align: center;
  align-content: center;
  padding: 0px 0px 0px 220px;
}

.input {
  width: 600px;
  height: 40px;
  margin-bottom: 30px;
  padding-left: 10px;
}

#message {
  height: 100px;
  padding-top: 15px;
}

.btn {
  width: 615px;
  height: 60px;
  padding: 14px 0;
  text-align: center;
  align-content: center;
}

textarea {
  height: 200px;
  width: 350px;
}
